<div class="container-fluid" data-ng-controller="BoletimController as boletins">
    <div class="panel panel-primary" data-ng-hide="boletins.boletimDetalhe">
        <div class="panel-heading">
            Boletins
        </div>
        <div class="panel-body">
            <div class="alert alert-success" data-ng-show="boletins.info">
                <button type="button" class="close" data-ng-click="boletins.info = null">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span data-ng-bind="boletins.info"></span>
            </div>
            <div class="alert alert-danger" data-ng-show="boletins.error">
                <button type="button" class="close" data-ng-click="boletins.error = null">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span data-ng-bind="boletins.error"></span>
            </div>
            @*==================================================================================================================================*@
            <div class="panel panel-default">
                <form novalidate class="panel-body" data-ng-submit="boletins.consultar(true)">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Número do boletim</label>
                                @*captura informações: data-ng-model*@
                                <input class="form-control"
                                       data-ng-model="boletins.filtro.numero" 
                                       app-uppercase
                                       maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    @*=========================================BOTÕES PESQUISAR E LIMPAR FILTRO=================================================*@
                    <button class="btn btn-primary" type="submit">
                        Pesquisar
                    </button>
                    <button type="button" class="btn btn-warning" data-ng-click="boletins.filtro.limpar();boletins.consultar()">
                        Limpar filtro
                    </button>
                </form>
            </div>
            @*========================================================BOTÃO NOVO BOLETIM=========================================================*@
            <div class="form-group">
                <button type="button" class="btn btn-success" data-ng-click="boletins.novo()" data-app-modal-target="boletins.modal.dadosBoletim">
                    <span class="glyphicon glyphicon-plus"></span>
                    Novo Boletim
                </button>
            </div>
            @*TABELA EXIBIÇÃO*@
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Nº Boletim</th>
                            <th>Histórico </th>
                            <th class="table-col-3 text-center">Ações</th>
                        </tr>
                    </thead>
                    @*exibição de dados: data-ng-show
                      iteração entre dados: data-ng-repeat e associa um nome, neste caso aqui boletins vira b
                      exibe item/dados acoplado a chamada: data-ng-bind*@
                    <tbody>
                        <tr data-ng-show="boletins.cadastrados.length == 0">
                            <td colspan="3">
                                <em>Nenhum boletim encontrado.</em>
                            </td>
                        </tr>
                        <tr data-ng-repeat="b in boletins.cadastrados">
                            <td data-ng-bind="b.numero"></td>
                            <td class="longTextWrapper" data-ng-bind="b.historico.substring(0,60) +'...' "></td>
                            <td>
                                <button type="button"
                                        class="btn btn-sm btn-default"
                                        data-ng-click="boletins.detalhar(b)"
                                        data-app-tooltip="Ver">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-primary"
                                        data-ng-click="boletins.editar(b)"
                                        data-app-tooltip="Editar"
                                        data-app-modal-target="boletins.modal.dadosBoletim">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-sm btn-danger"
                                        data-ng-click="boletins.selecionar(b)"
                                        data-app-tooltip="Remover"
                                        data-app-modal-target="boletins.modal.removerBoletim">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr data-ng-show="boletins.cadastrados.length > 0">
                            <td colspan="3" class="text-center"
                                data-app-paginacao="boletins.filtro.paginacao"
                                data-app-paginacao-atualizar="boletins.consultar()"
                                data-app-paginacao-iniciar="boletins.consultar()"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Administrativo/Boletins/DetalharBoletimn.cshtml")
    @Html.Partial("~/Views/Administrativo/Boletins/Modal/DadosBoletins.cshtml")
    @Html.Partial("~/Views/Administrativo/Boletins/Modal/RemoverBoletins.cshtml")
</div>