<div class="panel panel-primary" data-ng-show="boletins.boletimDetalhe">
    <div class="panel-heading">
        Detalhes do Crime
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="table-col-4 font-bold" align="right">Nº Boletim:</td>
                        <td data-ng-bind="boletins.boletimDetalhe.numero"></td>
                    </tr>
                    <tr>
                        <td class="table-col-4 font-bold" align="right">Historico:</td>
                        <td class="longTextWrapper" longtextwrapper"" data-ng-bind="boletins.boletimDetalhe.historico"></td>
                    </tr>
                </tbody>
            </table>

            <div class="pull-right">
                <button type="button"
                        class="btn btn-default"
                        data-ng-click="boletins.boletimDetalhe = null">
                    Cancelar
                </button>
                <button type="button"
                        class="btn btn-sm btn-primary"
                        data-ng-click="boletins.selecionar(boletins.boletimDetalhe)"
                        data-app-tooltip="Editar"
                        data-app-modal-target="boletins.modal.dadosBoletim">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Editar
                </button>
            </div>
        </div>
    </div>
</div>
